.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
}

.fade-out {
    opacity: 0 !important;
    transition: opacity 3000ms ease-out !important;
}
.scale-out {
    transform: scale(1.3);
    transition: all 3000ms ease-out !important;
}

.slide-right {
    animation: slide-right 1000ms ease-in forwards;
}
@keyframes slide-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}


.slide-left {
    animation: slide-left 1000ms ease-in forwards;
}
@keyframes slide-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


.slide-bottom {
    animation: slide-bottom 1000ms ease-in forwards;
}
@keyframes slide-bottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.slide-top {
    animation: slide-top 1000ms ease-in forwards;
}
@keyframes slide-top {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.flip {
    animation: flip 2s ease-out alternate 2;
}
@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}